<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost/ecc</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">dorga</property> <!-- DB User -->
        <property name="connection.password">D4mkgo31nal</property> <!-- DB Password -->
        
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
                
        <mapping resource="address.hbm.xml"/>
        <mapping resource="contact.hbm.xml"/>
        <mapping resource="employee.hbm.xml"/>
        <mapping resource="role.hbm.xml"/>
    </session-factory>
</hibernate-configuration>